# Compressed files
*.zip
*.tar.bz

# Videos
*.mp4
*.mpeg
*.mov

# Don't save PDFs created by LaTeX
*.pdf
*.PDF

# Don't track changes of aux LaTeX files
*.aux
*.bbl
*.log
*.out
*.synctex.gz

# Misc
.DS_Store

# Keep PDFs inside the Fig directory
!Fig/*.pdf
!Fig/*.PDF

