# Avoid some big files
Conference/IRC\ 2018.zip
Conference/SIMPAR\ 2016/JIRS16_experiment_SideBySide_speedup8x.mov
Conference/SIMPAR\ 2016/JIRS16_experiment_SideBySide_speedup8x.mpeg
Conference/SIMPAR\ 2016/JIRS16_simulation_speedup10x_then_speedup100x.mov

# Don't save PDFs created by LaTeX
*.pdf
*.PDF

# Don't track changes of aux LaTeX files
*.aux
*.bbl
*.log
*.out
*.synctex.gz

# Keep PDFs inside the Fig directory
!Fig/*.pdf
!Fig/*.PDF

