# Compressed files
*.zip
*.tar.bz
*.tar.gz

# Videos
*.mp4
*.mpeg
*.mov

# Powerpoints
*.ppt
*.pptx

# Don't save PDFs created by LaTeX
*.pdf

# Don't track changes of aux LaTeX files
*.aux
*.bbl
*.log
*.out
*.synctex.gz

# Misc
.DS_Store

# Keep PDFs inside the Fig & Referenced Papers directory
!Fig/*.pdf
!Referenced\ Papers/*.pdf

